body {
    margin: 0;
    background-color: #E5E0D5, ;
    font-family: Verdana, Arial, Tahoma;
    color: #776E64;
}

.title {
    padding: 5px;
    background-color: #C7BAA7;
    font-size: 28px;
}

.form {
    font-size: 16px;
}
.label{
    padding: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #C7BAA7;
    text-align: left;
    padding: 8px;
}